body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    min-width: 300px;
    margin: 10px auto 10px auto;
}

h1, h2, h3 {
    color: #8044FF;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

a {
    color: #8044FF;
}

p {
    border: red 3px solid;
    margin: 0;
}

strong {
    line-height: 10px;
}

#bienvenue {
    background-color: #e9f2f9;
    margin-bottom: 30px;
    border-radius: 15px;
}

.important {
    background-color: #d7f3ef;
    border-left: #00c852 solid 5px;
    border-radius: 15px;
}

.important > strong {
    color: rgb(227, 134, 12);
}

img {
    margin: 10px auto 10px auto;
    display: block;
}

li.guerrier {
    background-color: rgb(255, 124, 124);
}

li.magicien {
    background-color: rgb(148, 148, 255);
}

li.voleur {
    background-color: rgb(171, 171, 171);
}

canvas {
    border: black 1px solid;
    display: block;
}